#include <zephyr/dt-bindings/sensor/max30001.h>

/ {
	/*
	* In some default configurations within the nRF Connect SDK,
	* e.g. on nRF52840, the chosen zephyr,entropy node is &cryptocell.
	* This devicetree overlay ensures that default is overridden wherever it
	* is set, as this application uses the RNG node for entropy exclusively.
	*/
	chosen {
		zephyr,entropy = &rng;
	};
	zephyr,user {
		io-channels = <&adc 0>;
	};
};
&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
				<NRF_PSEL(SPIM_MOSI, 0, 21)>,
				<NRF_PSEL(SPIM_MISO, 0, 15)>;
		};
	};

	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
				<NRF_PSEL(SPIM_MOSI, 0, 21)>,
				<NRF_PSEL(SPIM_MISO, 0, 15)>;
			low-power-enable;
		};
	};
};
&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_2"; /* Max: 3.8V / 10 = 380mV */
		zephyr,reference = "ADC_REF_INTERNAL";		  /* 600mV */
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; /* 10us */
		zephyr,input-positive = <NRF_SAADC_VDDHDIV5>;
		zephyr,resolution = <14>;
		zephyr,oversampling = <8>;
	};
};
&uart1 {
	status = "disabled";
};
&pwm0 {
	status = "disabled";
};
&i2c0 {
	status = "disabled";
};
&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";

	cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;

	max30001: max30001@0 {
		compatible = "maxim,max30001";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(8)>;
		ecg-gain = <MAX30001_DT_ECG_GAIN_20V_PER_V>;
	};
};
&spi1 {
	status = "disabled";
};
&spi2 {
	status = "disabled";
};
&spi3 {
	status = "disabled";
};
&qspi {
	status = "disabled";
};
&usbd {
	status = "disabled";
};
&gpio0 {
	status = "okay";
};
&gpio1 {
	status = "disabled";
};
&gpiote {
    status = "okay";
};
&ieee802154 {
	status = "okay";
};
